
@{
    ViewData["Title"] = "Order Completed";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-6">
            <h1 class="text-center" style="font-family: Montserrat, sans-serif;font-weight: 800;font-size: 3rem;">Thank you!</h1>
            <img src="~/images/check-157822_960_720.png" class="img-fluid d-block mx-auto"/>
            <h3 class="text-center">Your order has successfully been placed.</h3>
            <h5 class="text-center">We'll ship your products as soon as possible.</h5>
        </div>
    </div>
</div>

